---
---

@import "minima/skins/dark";
@import "minima/initialize";

/* Change the default link color */
a {
  color: rgb(243, 223, 5);
}

a:hover {
  color: rgb(243, 223, 5);
}

a:visited {
  color: rgb(243, 223, 5);
}

.green-text {
  color: rgb(243, 223, 5);
}